//variables
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);



//mixins

@mixin backImage(
  $image,
  $grDir: to bottom,
  $opStart: 0,
  $opEnd: 0,
  $bgPos: center center
  ) {
  background: linear-gradient(
    $grDir,
    rgba(0,0,0, $opStart),
    rgba(0,0,0, $opEnd)
  ),url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} //backImage

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  } //before, after
  &:after {
    clear: both;
  } //after
} //clearfix
$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;

//Add Color Palette
$blue       : #063642;
$green      : #45B29D;
$yellow     : #EFC94C;
$orange     : #E27A3F;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6C71C4;
$dark       : #000000;
$light      : #FFFFFF;
$twitter    : #55acee;
$facebook   : #3b5998;
$gplus      : #db4b39;
$github     : #24292E;


$backgroundColor    : $light;
$typeDefault        : $dark;
$navBackground      : $blue;
$navForeground      : $light;
$navHover           : $yellow;
$navBrandBg         : $red;
$headersubbg        : $dark;

//Font variables
$fontfamily       : 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

$headFont   : $thin 1.5em/1.5em $fontfamily;
$mainFont   : $thin 1em/1.5em $fontfamily;
$headColor  : lighten($blue, 20);

//general style
body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
}

// #{headings()} {
//  font: $headFont;
//  color: $headColor;
//  font-weight: $bold;
// }
strong {
  font-weight: $bold;
}
p {
  font-weight: $thin;
  padding-bottom: 10px;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scene {
  position: relative;
  padding: 20px 0;

  article {
    //@include container(95%);
  } //article

  // @include breakpoint($wide) {
  //   padding: 40px 0;
  // } //breakpoint

  // @include breakpoint($medium) {
  //   article {
  //     @include container;
  //   } //article
  //} // breakpoint
} //scene

//welcome section
header {
  .fullheight {
    background:url('../images/15.jpg') bottom, 0, 0, center center;

    //@include display-flex();
    //@include align-items(center);
    //@include justify-content(center);

    .hgroup {
      padding: 250px 0 100px 0;


      h1 {
        color: $dark;
        font-size: 5em;
        font-weight: $heavy;
        line-height: .8em;
        //@include text-shadow($dark 0 0 20px);
        text-align: center;
        //border: 1px solid $light;
        background: rgba($light, .8);
        padding: 25px 15px;
        border-radius: 10px;
        span{
          color: $red;
        }
      } //h1

      h2 {
        display: block;
        color: $light;
        width: 60%;
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
        border: 1px solid $light;
        margin-top: 15px;
        padding: 10px;
        background: rgba($headersubbg, .5);
        font-size: 1.3em;
      } //h2

      p {
        text-align: center;
        img {
          padding-top: 50px;
          max-width: 50px;
        } //img
      } //p
    } //hgroup
  } //fullheight
} //header
