@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
/* line 5, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../../components/sass/_base.scss */
body {
  font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  color: #000000;
}

/* line 7, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 200 1.5em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0f83a0;
  font-weight: 600;
}

/* line 13, ../../../components/sass/_base.scss */
strong {
  font-weight: 600;
}

/* line 17, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 10px;
}

/* line 1, ../../../components/sass/_layout.scss */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 7, ../../../components/sass/_layout.scss */
.scene {
  position: relative;
  padding: 20px 0;
}
/* line 11, ../../../components/sass/_layout.scss */
.scene article {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.scene article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  /* line 7, ../../../components/sass/_layout.scss */
  .scene {
    padding: 40px 0;
  }
}
@media (min-width: 960px) {
  /* line 20, ../../../components/sass/_layout.scss */
  .scene article {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .scene article:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 2, ../../../components/sass/modules/_intro.scss */
header .fullheight {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/15.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 9, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup {
  padding: 250px 0 100px 0;
}
/* line 13, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h1 {
  color: #000000;
  font-size: 5em;
  font-weight: 800;
  line-height: .8em;
  text-shadow: #000000 0 0 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 25px 15px;
  border-radius: 10px;
}
/* line 24, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h1 span {
  color: #DF4848;
}
/* line 29, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h2 {
  display: block;
  color: #FFFFFF;
  width: 60%;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #FFFFFF;
  margin-top: 15px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
}
/* line 43, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup p {
  text-align: center;
}
/* line 45, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup p img {
  padding-top: 50px;
  max-width: 50px;
}

/* line 1, ../../../components/sass/modules/_nav.scss */
header #nav {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhNWM3MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA2MzY0MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a5c71), color-stop(100%, #063642));
  background-image: -moz-linear-gradient(top, #0a5c71, #063642);
  background-image: -webkit-linear-gradient(top, #0a5c71, #063642);
  background-image: linear-gradient(to bottom, #0a5c71, #063642);
  width: 100%;
  z-index: 100;
}
/* line 22, ../../../components/sass/_mixins.scss */
header #nav:before, header #nav:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
header #nav:after {
  clear: both;
}
/* line 7, ../../../components/sass/modules/_nav.scss */
header #nav .navbar {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
header #nav .navbar:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 9, ../../../components/sass/modules/_nav.scss */
header #nav .navbar .brand {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  float: left;
  font-weight: 600;
  font-family: 200 1.5em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #DF4848;
}
/* line 17, ../../../components/sass/modules/_nav.scss */
header #nav .navbar .brand a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
}
/* line 24, ../../../components/sass/modules/_nav.scss */
header #nav .navbar .brand a span.full {
  display: inline;
}
/* line 25, ../../../components/sass/modules/_nav.scss */
header #nav .navbar .brand a span.abbreviation {
  display: none;
}
@media (max-width: 650px) {
  /* line 17, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar .brand a {
    font-size: 1.2em;
  }
  /* line 29, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar .brand a span.full {
    display: none;
  }
  /* line 30, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar .brand a span.abbreviation {
    display: inline;
  }
}
/* line 35, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 37, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li {
  float: left;
  height: 20px;
}
/* line 40, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a {
  color: #FFFFFF;
  font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
}
/* line 53, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a:hover {
  background-color: #EFC94C;
  color: #063642;
}
@media (min-width: 0) and (max-width: 650px) {
  /* line 40, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a {
    padding: 5px 20px;
    font-size: 1em;
  }
  /* line 61, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a::after {
    content: '\000a0';
    display: block;
  }
  /* line 65, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a span {
    display: none;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  /* line 40, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a {
    padding-left: 10px;
  }
  /* line 71, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a.icon {
    background-image: none;
  }
}
/* line 74, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a.active {
  background-color: #DF4848;
  color: #FFFFFF;
}

/* line 1, ../../../components/sass/modules/_welcome.scss */
#welcome {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYzk0YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyN2EzZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efc94c), color-stop(100%, #e27a3f));
  background-image: -moz-linear-gradient(top, #efc94c, #e27a3f);
  background-image: -webkit-linear-gradient(top, #efc94c, #e27a3f);
  background-image: linear-gradient(to bottom, #efc94c, #e27a3f);
}
/* line 4, ../../../components/sass/modules/_welcome.scss */
#welcome article {
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#welcome article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 4, ../../../components/sass/modules/_welcome.scss */
  #welcome article {
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
  }
  /* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  #welcome article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 13, ../../../components/sass/modules/_welcome.scss */
#welcome h1 {
  font-weight: normal;
  line-height: 100%;
  color: #a24a19;
  padding: 10px 0;
}

/* line 1, ../../../components/sass/modules/_events.scss */
#events {
  padding: 0;
}
/* line 22, ../../../components/sass/_mixins.scss */
#events:before, #events:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#events:after {
  clear: both;
}
/* line 5, ../../../components/sass/modules/_events.scss */
#events .event {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#events .event:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 5, ../../../components/sass/modules/_events.scss */
  #events .event {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}
/* line 12, ../../../components/sass/modules/_events.scss */
#events .event .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  color: #FFFFFF;
  font-weight: 200;
  line-height: 130%;
}
/* line 21, ../../../components/sass/modules/_events.scss */
#events .event .content h2 {
  color: #FFFFFF;
  line-height: 1em;
}
/* line 26, ../../../components/sass/modules/_events.scss */
#events .event .content p {
  padding: 5px 0;
}
/* line 33, ../../../components/sass/modules/_events.scss */
#events #businessmeetings {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/events_conference.jpg");
  background-repeat: no-repeat;
  background-position: 65% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 37, ../../../components/sass/modules/_events.scss */
#events #weddings {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/events_wedding.jpg");
  background-repeat: no-repeat;
  background-position: 40% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 3, ../../../components/sass/modules/_news.scss */
#news h1, #news h2 {
  color: #DF4848;
  padding: 10px 0;
}
/* line 8, ../../../components/sass/modules/_news.scss */
#news img {
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media (min-width: 650px) {
  /* line 14, ../../../components/sass/modules/_news.scss */
  #news #areanews {
    margin-bottom: 30px;
  }
  /* line 17, ../../../components/sass/modules/_news.scss */
  #news #areanews h1 {
    font-weight: 200;
    font-size: 2.5em;
  }
  /* line 21, ../../../components/sass/modules/_news.scss */
  #news #areanews p {
    font-size: 1.5em;
    line-height: 140%;
  }
  /* line 27, ../../../components/sass/modules/_news.scss */
  #news section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 30, ../../../components/sass/modules/_news.scss */
  #news section h2 {
    font-size: 1.2em;
    line-height: 120%;
    color: #CD0069;
  }
  /* line 35, ../../../components/sass/modules/_news.scss */
  #news section p {
    padding-top: 10px;
    font-size: 1em;
    line-height: 130%;
  }
}
/* line 43, ../../../components/sass/modules/_news.scss */
#news #newsDetail {
  margin-top: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmFmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fefaf0));
  background-image: -moz-linear-gradient(top, #ffffff, #fefaf0);
  background-image: -webkit-linear-gradient(top, #ffffff, #fefaf0);
  background-image: linear-gradient(to bottom, #ffffff, #fefaf0);
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
  border-top: 1px solid #DF4848;
  border-bottom: 1px solid #DF4848;
}

/* line 1, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo {
  background-image: url('data:./images/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhM2Y5MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1YjI5ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3f90), color-stop(100%, #45b29d));
  background-image: -moz-linear-gradient(top, #3a3f90, #45b29d);
  background-image: -webkit-linear-gradient(top, #3a3f90, #45b29d);
  background-image: linear-gradient(to bottom, #3a3f90, #45b29d);
  color: #FFFFFF;
}
/* line 5, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo h1, #CYFinfo h2, #CYFinfo h3, #CYFinfo h4, #CYFinfo h5, #CYFinfo h6 {
  color: #FFFFFF;
}
/* line 10, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo .heading h1 {
  font-size: 3em;
  font-weight: 200;
}
/* line 22, ../../../components/sass/_mixins.scss */
#CYFinfo #usefulinfo:before, #CYFinfo #usefulinfo:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#CYFinfo #usefulinfo:after {
  clear: both;
}
@media (min-width: 650px) {
  /* line 18, ../../../components/sass/modules/_CYFinfo.scss */
  #CYFinfo #usefulinfo section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 3.33333%;
    padding-right: 3.33333%;
  }
}
@media (min-width: 450px) and (max-width: 650px) {
  /* line 23, ../../../components/sass/modules/_CYFinfo.scss */
  #CYFinfo #usefulinfo section.checklist {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* line 28, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #usefulinfo section h2, #CYFinfo #usefulinfo section h3 {
  color: #b5b7e1;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
/* line 35, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #usefulinfo section p {
  font-size: 1em;
  line-height: 130%;
}
/* line 41, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #usefulinfo section ul li {
  list-style: square;
  margin-left: 10%;
  line-height: 115%;
  margin-bottom: 5px;
}
/* line 51, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #usefulinfo section#arrivalinfo ul {
  margin: 0;
}
/* line 53, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #usefulinfo section#arrivalinfo ul li {
  list-style: none;
  border-top: 1px solid #FFFFFF;
  padding: 15px 0;
  margin-left: 0;
}
/* line 58, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #usefulinfo section#arrivalinfo ul li strong {
  color: #EFC94C;
}
/* line 62, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #usefulinfo section#arrivalinfo ul li:first-child {
  border-top: none;
}
/* line 70, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #greenprogram {
  background-color: rgba(26, 68, 60, 0.5);
  margin-top: 20px;
  border: 1px solid #FFFFFF;
  padding: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 73, ../../../components/sass/modules/_CYFinfo.scss */
#CYFinfo #greenprogram a {
  text-decoration: none;
  font-style: italic;
  color: #efb798;
}
@media (min-width: 1200px) {
  /* line 70, ../../../components/sass/modules/_CYFinfo.scss */
  #CYFinfo #greenprogram {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 120% center;
    padding-right: 300px;
  }
}

/* line 2, ../../../components/sass/modules/_rooms.scss */
#rooms header {
  margin-bottom: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#rooms header:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  /* line 2, ../../../components/sass/modules/_rooms.scss */
  #rooms header {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 9.16667%;
    padding-right: 9.16667%;
  }
  /* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  #rooms header:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 11, ../../../components/sass/modules/_rooms.scss */
#rooms .room {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 200px 0;
}
/* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#rooms .room:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 11, ../../../components/sass/modules/_rooms.scss */
  #rooms .room {
    padding-left: 59.16667%;
    padding-right: 9.16667%;
  }
}
/* line 24, ../../../components/sass/modules/_rooms.scss */
#rooms .room .content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
/* line 29, ../../../components/sass/modules/_rooms.scss */
#rooms .room .content h1 {
  color: #DF4848;
}

/* line 1, ../../../components/sass/modules/_attractions.scss */
#apply {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/17.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 22, ../../../components/sass/_mixins.scss */
#apply:before, #apply:after {
  content: '';
  display: table;
}
/* line 27, ../../../components/sass/_mixins.scss */
#apply:after {
  clear: both;
}
/* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#apply:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 11, ../../../components/sass/modules/_attractions.scss */
#apply article {
  padding: 20px;
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: rgba(26, 68, 60, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 17, ../../../components/sass/modules/_attractions.scss */
#apply article h1 {
  padding-bottom: 20px;
}
/* line 20, ../../../components/sass/modules/_attractions.scss */
#apply article .contactUs {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
/* line 24, ../../../components/sass/modules/_attractions.scss */
#apply article .contactUs .form_group {
  display: flex;
  padding: 10px 0;
}
/* line 27, ../../../components/sass/modules/_attractions.scss */
#apply article .contactUs .form_group label {
  flex-basis: 40%;
  align-self: baseline;
}
/* line 31, ../../../components/sass/modules/_attractions.scss */
#apply article .contactUs .form_group div {
  flex-basis: 60%;
  flex-grow: 2;
}
/* line 34, ../../../components/sass/modules/_attractions.scss */
#apply article .contactUs .form_group div input {
  width: 80%;
  padding: 3px 5px;
  border-radius: 5px;
}
/* line 39, ../../../components/sass/modules/_attractions.scss */
#apply article .contactUs .form_group div textarea {
  border-radius: 5px;
}
/* line 42, ../../../components/sass/modules/_attractions.scss */
#apply article .contactUs .form_group div button {
  border: 2px solid #E27A3F;
  outline: none;
  padding: 1em 3.5em;
  text-align: center;
  background: rgba(26, 68, 60, 0.5);
  border-radius: 2em;
  color: #FFFFFF;
}
/* line 50, ../../../components/sass/modules/_attractions.scss */
#apply article .contactUs .form_group div button:hover {
  color: #d02424;
  background: linear-gradient(to bottom, #0a5c71, #063642);
}

/* line 1, ../../../components/sass/modules/_footer.scss */
footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhNWM3MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA2MzY0MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a5c71), color-stop(100%, #063642));
  background-image: -moz-linear-gradient(top, #0a5c71, #063642);
  background-image: -webkit-linear-gradient(top, #0a5c71, #063642);
  background-image: linear-gradient(to bottom, #0a5c71, #063642);
  padding: 30px 0;
}
/* line 12, ../../../../../../../../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 5, ../../../components/sass/modules/_footer.scss */
footer #socialmedia {
  text-align: center;
}
/* line 7, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul {
  list-style: none;
}
/* line 9, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li {
  display: inline-block;
  padding: 0 10px;
}
/* line 12, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a.badge.social {
  background: transparent;
  font-size: 1.3em;
  padding: 10px 12px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #FFFFFF;
  box-sizing: border-box;
}
/* line 24, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a.badge.social.facebook {
  padding: 10px 14px;
}
/* line 27, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a.badge.social.gplus {
  padding: 10px 8px;
}
/* line 30, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a.badge.social.twitter:hover {
  background: #55acee;
}
/* line 33, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a.badge.social.facebook:hover {
  background: #3b5998;
}
/* line 36, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a.badge.social.youtube:hover {
  background: #FFFFFF;
  color: #DF4848;
}
/* line 40, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a.badge.social.gplus:hover {
  background: #db4b39;
  color: #FFFFFF;
}
/* line 44, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a.badge.social.github:hover {
  background: #FFFFFF;
  color: #24292E;
}
